#Thu Feb 27 11:34:26 IST 2025
lisa.vse.execution.mode=EFFICIENT
LIVE_INVOCATION_PORT=9999
LIVE_INVOCATION_SERVER=localhost
LIVE_INVOCATION_PORT1=8080
LIVE_INVOCATION_SERVER1=localhost
GIT_COMMIT_MESSAGE=Add new files to projects on 27-02-2025
GIT_TAG=Version1.0
GIT_REPO_URL=https\://github.com/sraghu-rs/Bank-v5.git
